<head>
  <meta charset="UTF-8">

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">

      <title>Sign in to your ScentMate account</title>

      <!-- Bootstrap core CSS -->
      <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

      <!-- Custom fonts for this template -->
      <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Cormorant:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

      <!-- Custom styles for this template -->
      <link href="static/css/signin_style.css" rel="stylesheet">
      <link href="static/css/style.css" rel="stylesheet">

</head>

{% extends "todo/base.html" %}

{% block content %}

<div class="login-page">
  <div class="form">
    <form class="login-form">
      <input type="text" placeholder="userid"/>
      <button>login</button>
    </form>
  </div>
</div>

{% endblock %}