{% extends "todo/base.html" %}

{% block content %}

  <style>
    .autocomplete-items {
      position: absolute;
      border: 1px solid #d4d4d4;
      border-bottom: none;
      border-top: none;
      z-index: 99;
      /*position the autocomplete items to be the same width as the container:*/
      top: 100%;
      left: 0;
      right: 0;
    }
    .autocomplete-items div {
      padding: 10px;
      cursor: pointer;
      background-color: #fff;
      border-bottom: 1px solid #d4d4d4;
    }
    .autocomplete-items div:hover {
      /*when hovering an item:*/
      background-color: #e9e9e9;
    }
    .autocomplete-active {
      /*when navigating through the items using the arrow keys:*/
      background-color: DodgerBlue !important;
      color: #ffffff;
    }
  </style>

  <div class="recommendations">
    <!-- <div class="login-page"> -->
    <div class="row justify-content-center">
      <div class="col-8">
        <form autocomplete="off" action="{% url 'similar_results' %}" method="get">
            <div id="autocompleteContainer" class="input-group mb-3 autocomplete">
              <input name="q" id="autocompleteInput" type="text" class="form-control autocomplete" placeholder="Perfume name" aria-label="Movie title search" aria-describedby="searchButton">
              <button class="btn btn-outline-secondary" type="submit" id="perfumename">Search</button>
            </div>
        </form>
      </div>
    </div>
    <!-- jQuery-UI CSS -->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/cupertino/jquery-ui.css"/>
    <!-- jQuery-Min JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- jQuery-UI JS -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
  </div>

  <script>
    let currentfocus;
    let autocompleteContainer = document.getElementById('autocompleteContainer');
    let autocompleteInput = document.getElementById('autocompleteInput');

    function closeAllLists() {
      let listElements = document.getElementsByClassName('autocomplete-items');
      for (let i = 0; i < listElements.length; i++) {
        listElements[i].parentNode.removeChild(listElements[i]);
      }
    }

    function autocomplete(value) {
      if(!value) return;
      currentFocus = -1;
      url = `/api/perfumes?query=${value}`;
      fetch(url)
      .then(res => res.text()) // Devolver solo texto
      .then(str => {
          console.log(str)
          let listContainer = document.createElement('DIV');
          listContainer.setAttribute('id', 'autocompleteList');
          listContainer.setAttribute('class', 'autocomplete-items');
          autocompleteContainer.appendChild(listContainer);
          // Aplicar remplazos
          str = str.replaceAll("{'", '{"');
          str = str.replaceAll("':", '":');
          str = str.replaceAll(": '", ': "');
          str = str.replaceAll("'}", '"}');
          // Interpretar JSON
          let json = JSON.parse(str);

          let perfumes= json.data;
          for(let perfume of perfumes) {
            let name = document.createElement('DIV');
            name.innerText = perfume.name;
            name.addEventListener('click', e => {
              autocompleteInput.value = e.currentTarget.innerText;
              closeAllLists();
            });
            listContainer.appendChild(name);
          }
      })
      .catch(e => {
          console.error(e.message);
          console.log('Uuuuups');
    });
    }

    function keyDownHandler(event) {
      let items;
      let item = document.getElementById('autocompleteList');
      if (item) items = item.getElementsByTagName("div");
      if(event.keyCode === 40) { // Down
        currentFocus++;
        addActiveClass(items);
      } else if(event.keyCode === 38) {  // Up
        currentFocus--;
        addActiveClass(items);
      } else if(event.keyCode === 13) {  // Enter
        event.preventDefault();
        if(currentFocus > -1) {
          if(items) {
            items[currentFocus].click();
          }
        }
      }
    }

    function addActiveClass(items) {
      if (!items) return;
      removeActiveClass(items);
      if (currentFocus >= items.length) currentFocus = 0;
      if (currentFocus < 0) currentFocus = (items.length - 1);
      items[currentFocus].classList.add("autocomplete-active");
    }

    function removeActiveClass(items) {
      for (var i = 0; i < items.length; i++) {
        items[i].classList.remove("autocomplete-active");
      }
    }

    autocompleteInput.addEventListener('input', e => {
      closeAllLists();
      autocomplete(e.currentTarget.value);
    });

    autocompleteInput.addEventListener('keydown', keyDownHandler);

    document.addEventListener('click', e => {
      closeAllLists();
    });
  </script>

{% endblock %}